/* Configurações iniciais de reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Principal';
    text-decoration: none;
}

@font-face {
    font-family: 'Principal';
    src: url('FE-FONT.TTF');
}

/* Modo dark e light button */

.trilho{
    position: fixed;
    width: 3em;
    height: 1.5em;
    border-radius: 50px;
    border: 0.2em solid #fff; 
    background-color: #fff;
    align-items: center;
    top: 10px;
    transform: translate();
    cursor: pointer;
}

.trilho .indicador{
    width: 2em;
    height: 1.5em;
    background-color: #00aeff;
    border-radius: 50px;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.trilho.dark .indicador{
    left: 1em;
    background-color: #1f1f1f;
}

/* Modo dark e light box */

.box.dark{
    background: #1f1f1f;
    border: 2px solid #3b3b3b;
}

button.dark{
    background: #1f1f1f;
}

/* Corpo principal */

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    padding: 0.3em;
}

h2 {
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em;
}

.box {
    background: rgb(43, 160, 200);
    background: linear-gradient(9deg, rgba(43, 160, 200, 1) 8%, rgba(0, 164, 255, 1) 100%);
    border: 2px solid #389bff; 
    border-radius: 0.5em;
    padding: 20em;
}

.box,
form {
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 20em;
    height: 2em;
    border-radius: 0.5em;
    border: 2px solid #fff;
    padding: 0 0 0 1em;
}

button {
    margin-top: 1em;
    width: 10em;
    height: 2em;
    border-radius: 0.5em;
    background-color: #00aeff;
    border: 2px solid #fff;
    color: #fff;
}

/* Definições mmobile */

@media (max-width: 640px){
    .box,
    form {
    position: fixed;
}
    .box{
        padding: 15em;
    }
    h1{
        font-size: 2em;
    }
}

@media (max-width: 440px){
    body{
        background-color: #2ba0c8;
    }
    .box{
        background: transparent;
    }
    .box,
    form {
    position: fixed;
    border: none;
}
    .box{
        padding: 13em;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 0.5em;
    }
    button{
        font-size: 0.8em;
    }
    input::placeholder{
        font-size: 10px;
    }
    
    .trilho{
        height: 0.8em;
        width: 2em;
    }
    .trilho .indicador{
        height: 0.8em;
        width: 1em;
    }
}